.oke {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 330px;

}

.site-links {
    display: flex;

}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;

}

.isale {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}

.modal {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;

}


.image {
    height: 200px;
    width: 500px;
    background-color: #696e6e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

.header {
    background-color: #1f2937;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 80px;


}

.main-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.sub-text {
    font-size: 18px;
    color: #e5e7eb;

}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

body {
    margin: 0;

}

.signup {
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 4px;
    border-style: none;
    padding: 10px 24px;
    margin-top: 10px;
}

img {
    height: 200px;
    width: 500px;
}


.small-imgcontainer {
    height: 100px;
    width: 100px;

}

.maing {
    display: flex;
    gap: 40px;
}

.small {
    width: 140px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
    margin-bottom: 50px;
}

.information-header-text {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.small-img {
    height: 100px;
    width: 100px;
    border-radius: 8px;
}

.quote-section {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;

}

.group-quote {
    width: 800px;
}

.quoter {
    display: flex;
    flex-direction: row-reverse;
    font-size: 18px;
    font-weight: bold;
}

.quote {
    font-family: 'roboto', sans-serif;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
}
.boxer{
    display: flex;
    background-color: #3882f6;
    justify-content: space-around;
    width: 900px;
    align-items: center;
    padding:20px;
    border-radius: 4px;
}
.call-to-action{
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #e5e7eb;
   
}
.footer{
    padding: 20px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}
.oknau{
    background-color: #3882f6;
    color:  #e5e7eb;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
}
.maingangan{
    font-weight: bold;
    color: #f9faf8;
   
}